%head
  %title
    Kapil Kale
  %meta{:name => "description", :content => 'Kapil Kale\'s personal page'}
    
  %link{:href => "stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", :type => "text/javascript"}
  %script{:src => "/application.js", :type => "text/javascript"}
  -# GA tracking.
  = erb :analytics

%body
  #all_content
    #container
      %h2
        Kapil Kale
      %p
        Currently co-founder of 
        = succeed "." do  
          %a{:href => "http://www.giftrocket.com", :target => "_"} GiftRocket 
        Funded by 
        %a{:href => "http://www.ycombinator.com", :target => "_"}YCombinator
        and 
        %a{:href => "http://techcrunch.com/2011/12/07/backed-by-angel-round-giftrocket-moves-beyond-the-check-in-to-make-virtual-gift-giving-even-easier/", :target => "_"} angels.
      %p
        Background: New Jersey native. Economics degree from
        = succeed "." do  
          %a{:href => "http://www.dartmouth.edu", :target => "_"} Dartmouth
        Former 
        %a{:href => "http://www.bain.com", :target => "_"}Bain 
        consultant.
      %p
        What I do:
        = succeed "," do  
          %a{:href => "http://www.giftrocket.com", :target => "_"} web development and design
        = succeed "," do  
          %a{:href => "http://www.seomoz.org/ugc/write-content-for-contenthungry-communities", :target => "_"} search marketing
        = succeed "," do  
          %a{:href => "http://www.giftrocket.com/gift-card-worth", :target => "_"} data analysis
        = succeed "." do  
          %a{:href => "/blog"}blogging
      %p
        I live in San Francisco and like meeting other entrepreneurs. 
      %p 
        Get in touch:
        = succeed "," do  
          %a{:href => "#", :class => "email_link"} Email
        = succeed "," do  
          %a{:href => "http://www.linkedin.com/in/kapilvkale", :target => "_"} LinkedIn
        = succeed "," do  
          %a{:href => "http://news.ycombinator.com/user?id=kapilkale", :target => "_"} HN
        %a{:href => "https://twitter.com/kapilvkale", :target => "_"} Twitter

      %img{:src => "/e.jpg", :id => 'email_address'}
      = haml :footer